html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u74-14
{
	z-index: 2;
	width: 612px;
	min-height: 476px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
	background: url("../images/u74-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, rgba(237, 229, 229, 0.59)),to(rgba(255, 255, 255, 0.71)));
	background: -webkit-linear-gradient(top,rgba(237, 229, 229, 0.59) 50%,rgba(255, 255, 255, 0.71) );
	background: -moz-linear-gradient(top,rgba(237, 229, 229, 0.59) 50%,rgba(255, 255, 255, 0.71) );
	background: -ms-linear-gradient(top,rgba(237, 229, 229, 0.59) 50%,rgba(255, 255, 255, 0.71) );
	background: -o-linear-gradient(top,rgba(237, 229, 229, 0.59) 50%,rgba(255, 255, 255, 0.71) );
	background: linear-gradient(to bottom,rgba(237, 229, 229, 0.59) 50%,rgba(255, 255, 255, 0.71) );
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 120px;
}

#u74-7
{
	text-align: center;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u74-7  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u74-4
{
	font-size: 21px;
	font-style: italic;
}

#u74-5
{
	font-size: 21px;
	font-weight: bold;
	font-style: italic;
}

#u74-3,#u74-6
{
	font-size: 21px;
}

#u74-10
{
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#u74-11
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u96-3
{
	z-index: 16;
	width: 539px;
	min-height: 97px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 2px 1px rgba(130, 198, 240, 0.5)/* glow */,
1px 1px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(130, 198, 240, 0.5)/* glow */,
1px 1px 8px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 2px 1px rgba(130, 198, 240, 0.5)/* glow */,
1px 1px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	border-width: 3px;
	border-style: solid;
	border-color: #D14333;
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 160px;
}

#u97-3
{
	z-index: 19;
	width: 545px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-pie-box-shadow: none;
	-moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 267px;
	left: 160px;
}

._u97-3.f3s_top
{
	width: 545px;
	background-image: url("../images/u97-3-sprite.png");
	overflow: hidden;
	height: 25px;
	background-position: left top;
}

._u97-3.f3s_mid
{
	background-image: url("../images/u97-3-sprite.png");
	overflow: visible;
	background-position: -545px top;
	width: 545px;
	min-height: 53px;
}

._u97-3.f3s_bot
{
	width: 545px;
	background-image: url("../images/u97-3-sprite.png");
	overflow: visible;
	height: 25px;
	background-position: -1090px top;
}

#u97-3position_content
{
	width: 539px;
	margin: -22px 3px -21px;
}

#u126-14
{
	z-index: 22;
	width: 513px;
	min-height: 59px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 156px;
}

#u126-4
{
	font-weight: bold;
}

#u126-6
{
	font-style: normal;
}

#u126-5,#u126-7
{
	font-style: italic;
}

#u133-3
{
	z-index: 36;
	width: 539px;
	min-height: 97px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 2px 1px rgba(74, 107, 156, 0.5)/* glow */,
1px 1px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(74, 107, 156, 0.5)/* glow */,
1px 1px 8px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 2px 1px rgba(74, 107, 156, 0.5)/* glow */,
1px 1px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	border-width: 3px;
	border-style: solid;
	border-color: #6DA4C4;
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 379px;
	left: 160px;
}

#u142
{
	z-index: 39;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 412px;
	left: 285px;
}

#u150
{
	z-index: 40;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
	left: 285px;
}

#u157
{
	z-index: 41;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 285px;
}

#u164
{
	z-index: 42;
	width: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 281px;
	left: 183px;
}

#u169
{
	z-index: 44;
	width: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 170px;
	left: 183px;
}

#u174
{
	z-index: 46;
	width: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 394px;
	left: 183px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

