body {
	margin: 1px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.big {
	background: -webkit-gradient(linear, center top, center bottom, from(#F3F3F3),color-stop(150%, #E1E1E1));
	color: black;
	border: 1px solid black;
	border-radius: 1em;
	-webkit-box-shadow: 0px 1px 5px 0px #444444;
	padding: 5px 25px 15px 25px;
	height: 90%;
	max-width: 700px;
	max-height: 500px;
}
.header {
	font-size: 24px;
	text-align: center;
	font-weight: normal;
}
.main {
	height: 80px;
	border-radius: 1em;
	border-width: medium;
	-webkit-box-shadow: 0px 1px 5px 0px #444444;
	margin-bottom: 5px;
}
.box1 {
	border: 2px solid #C80000;
}
.box2 {
	border: 2px solid blue;
}
.box3 {
	border: 2px solid #3CF;
}
.button {
	margin-top: -55px;
	margin-left: 100px;
}
#pay a {
	color: blue;
}
#pay {
	margin-top: 10px;
}
#pay, .text {
	font-size: 14px;
}
.text {
	margin-bottom: 10px;
}
