    .big {
	width: 395px;
	height: 370px;
	background: -webkit-gradient(linear, center top, center bottom, from(#F3F3F3),color-stop(150%, #E1E1E1));
	color: black;
	border: 1px solid black;
	border-radius: 1em;
	border-width: thin;
	-webkit-box-shadow: 0px 1px 5px 0px #444444;
}
#box1 {
	width: 340px;
	height: 80px;
	border: 1px solid #C80000;
	border-radius: 1em;
	border-width: medium;
	-webkit-box-shadow: 0px 1px 5px 0px #444444;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 25px;
}
#box2 {
	width: 340px;
	height: 80px;
	border: 1px solid blue;
	border-radius: 1em;
	border-width: medium;
	-webkit-box-shadow: 0px 1px 5px 0px #444444;
	margin-bottom: 5px;
	margin-left: 25px;
}
#box3 {
	width: 340px;
	height: 80px;
	border: 1px solid #3CF;
	border-radius: 1em;
	border-width: medium;
	-webkit-box-shadow: 0px 1px 5px 0px #444444;
	margin-bottom: 5px;
	margin-left: 25px;
}
.donate, .text {
	margin-left: 25px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.header {
	font-size: 24px;
	margin-left: 80px;
	height: 35px;
	font-weight: normal;
	font-family: "Comic Sans MS", cursive;
}
.twitter { 
    margin-top: -55px;
    margin-left: 100px;  
}
#g {
	margin-top: -55px;
	margin-left: 100px;
}
#facebook {
	margin-top: -55px;
	margin-left: 100px;
}
.text {
	margin-bottom: -10px;
	padding-top: 3px;
	padding-right: 0px;
}
