.big {
	width: 395px;
	height: 360px;
	background: -webkit-gradient(linear, center top, center bottom, from(#F3F3F3),color-stop(150%, #E1E1E1));
	color: black;
	border: 1px solid black;
	border-radius: 1em;
	-webkit-box-shadow: 0px 1px 5px 0px #444444;
	margin-left: -7px;
	margin-top: -7px;
}
.header {
	font-size: 24px;
	margin-left: 80px;
	height: 35px;
	font-weight: normal;
	font-family: "Comic Sans MS", cursive;
}
.main {
	width: 340px;
	height: 80px;
	border-radius: 1em;
	border-width: medium;
	-webkit-box-shadow: 0px 1px 5px 0px #444444;
	margin-bottom: 5px;
	margin-left: 25px;
}
.box1 {
	border: 2px solid #C80000;
	margin-top: 20px;
}
.box2 {
	border: 2px solid blue;
}
.box3 {
	border: 2px solid #3CF;
}
.button {
	margin-top: -55px;
	margin-left: 100px;
}
#donate, .text {
	margin-left: 25px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.text {
	margin-bottom: -10px;
	padding-top: 3px;
}
 