h2 {
  margin-bottom: 10px;
}
h3 {
  margin: 10px 0px;
}
.customizationSection {
  margin-left: 20px;
}
.addControls {
  margin-left: 10px;
}
.entryTable {
  font-size: 12px;
  margin-top: 5px;
}
.entryTable input[type="button"] {
  height: 22px;
}
.guide {
  font-style: italic;
  color: grey;
}
#txtFiltersAdvanced {
  font-size: 12px;
  max-width: 100%;
}
::-webkit-input-placeholder {
  color: #345;
}
