/* Necessary for CSP */
.initiallity-hidden {
  display: none;
}
.width-200 {
  width: 200px;
}
.width-300 {
  width: 300px;
}
.width-400 {
  width: 400px;
}
.margin-top-15 {
  margin-top: 15px;
}
.display-inline {
  display: inline;
}
.margin-vertical-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 10px;
}
h3 {
  margin: 10px 0px;
}
.customizationSection {
  margin-left: 20px;
}
.addControls {
  margin-left: 10px;
}
.entryTable {
  font-size: 12px;
  margin-top: 5px;
}
.entryTable input[type="button"] {
  height: 22px;
}
.guide {
  font-style: italic;
  color: grey;
}
#txtFiltersAdvanced {
  font-size: 12px;
  max-width: 100%;
}
::-webkit-input-placeholder {
  color: #345;
}
