/* Necessary for CSP */
.padding-left-30 {
  padding-left: 30px;
}
.padding-left-34 {
  padding-left: 34px;
}
.width-300 {
  width: 300px;
}
.margin-bottom-0 {
  margin-bottom: 0px;
}
.margin-top-0 {
  margin-top: 0px;
}
