.section h2 {
  font-size: 1.2em;
  margin-left: 10px;
}
label {
  margin-right: 15px;
}
div.form {
  margin-left: 15px;
}
#whattodo {
  font-weight: bold;
  color: red;
  font-size: 15px;
  margin: 20px;
}
.answer {
  color: blue;
  font-weight: bold;
}
.section {
  display:none;
}
