      body { 
        font: 14px arial;
      }
      h2 {
        padding: 0px; 
        margin: 0px;
      }
      #user_filters,#whitelisted_domains {
        margin: 10px;
      }
      .note {
        font-size: 12px;
      }
      .ok_message {
        color: green;
      }
      .error_message {
        color: red;
      }
      .sneaky {
        font-size: x-small;
        color:gray;
        border-color: gray;
      }
      .entry_table th {
        font-style:italic;
        text-align: left;
        font-size: larger;
        border-bottom: 1px solid black;
      }
      .entry_table td:not(.plain) {
        vertical-align: top;
      }
      .entry_table {
        font-size: 12px;
      }
      .help_table {
        font-size: 12px;
      }
      .help_table td {
        border: 1px solid gray;
      }
      .help_table td {
        vertical-align:top;
        padding-right:10px;
      }
      .help_table td:first-child {
        font-style:italic;
      }
      #user_filter_help {
        margin-left:15px;
        margin-bottom:20px;
      }
      .info {
        background: #eeeeee;
        border: 1px solid gray;
        -webkit-border-radius: 5px;
        margin-left: 40px;
        margin-bottom: 15px;
        padding: 5px;
        width: 460px;
      }
      .section { 
        border: 1px solid #666666;
        -webkit-border-radius: 10px;
        padding: 10px;
        margin: 20px;
        background-color: #f8faff;
      }
      .box {
        border: 1px solid black;
        padding: 5px;
        margin: 5px;
      }
      .footnote {
        font-size: small;
        font-style: italic;
        margin-left: 10px;
      }
      .warning {
        color: red;
        font-style: italic;
        font-weight: bold;
        padding-left:30px;
      }
      .icon {
        background: url(https://chrome.google.com/extensions/img/gighmmpiobklfepjocnamgkkbiglidom/1260542911.84/thumb?event=None);
        background-repeat: no-repeat;
        padding-left:45px;
      }
      .update_time {
        padding-left: 3em;
        color: gray;
      }
